{% extends 'base.html.twig' %}

{% block title %}Evenement{% endblock %}

{% block body %}
    <h1>Evenement</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ evenement.id }}</td>
            </tr>
            <tr>
                <th>Nom_evn</th>
                <td>{{ evenement.nomEvn }}</td>
            </tr>
            <tr>
                <th>Libelle_evn</th>
                <td>{{ evenement.libelleEvn }}</td>
            </tr>
            <tr>
                <th>Type_evn</th>
                <td>{{ evenement.typeEvn }}</td>
            </tr>
            <tr>
                <th>Date_evn</th>
                <td>{{ evenement.dateEvn ? evenement.dateEvn|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ evenement.location}}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>

    <a href="{{ path('app_evenement_edit', {'id': evenement.id}) }}">edit</a>

    {{ include('evenement/_delete_form.html.twig') }}
{% endblock %}
