{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h1>Salle</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ salle.id }}</td>
            </tr>
            <tr>
                <th>Num_salle</th>
                <td>{{ salle.numSalle }}</td>
            </tr>
            <tr>
                <th>Dispo</th>
                <td>{{ salle.dispo }}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{ salle.location }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_salle_index') }}">back to list</a>

    <a href="{{ path('app_salle_edit', {'id': salle.id}) }}">edit</a>

    {{ include('salle/_delete_form.html.twig') }}
{% endblock %}
